*:hover {
    outline: 6px solid yellow;
}

body {
    /*  Exercise 2: Spacing With Padding and Margins, Backgrounds */
    background-image: url("https://static-cse.canva.com/blob/125311/texture.8b5b7bad.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.main {
    /*  Exercise 1: Arrange Your Page into Sections */
    /* border: 5px solid green; */

    /*  Exercise 2: Spacing With Padding and Margins, Backgrounds */
    background-color: #FFF;
    margin: 0 10%;

    /* Exercise 4: Cosmetic Finishing Touches */
    border: 10px solid #FFF;
}

.heading {
    /*  Exercise 1: Arrange Your Page into Sections */
    /*border: 5px solid red;*/

    /* Exercise 3: Float, Alignment and Clear*/
    text-align: right;

    /* Exercise 4: Cosmetic Finishing Touches */
    background-color: #A8F0F0;

    /* Exercise 6 (advanced): Add 2nd Column: Friends List */
    flex: 1;
}

.heading > h2 {
    /*  Exercise 1: Arrange Your Page into Sections */
    /*border: 5px solid orange;*/

    /* Exercise 4: Cosmetic Finishing Touches */
    font-size: 14px;
}

.body {
    /* Exercise 6 (advanced): Add 2nd Column: Friends List */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    margin: 10px 0 0 0;
}

.body .sidebar {
    /* Exercise 6 (advanced): Add 2nd Column: Friends List */
    flex: 0.25;

    border: 5px solid #019097;
    background-color: #99E0E0;

    margin-right: 10px;
}
.body .sidebar .sidebar__inner {
    /* Exercise 6 (advanced): Add 2nd Column: Friends List */
    padding: 20px;
}

.body .sidebar h1 {
    color: #019097;
}

.body .content {
    /* Exercise 6 (advanced): Add 2nd Column: Friends List */
    flex: 0.75;
}

.body .content .block {
    /*  Exercise 1: Arrange Your Page into Sections */
    /*border: 5px solid blue;*/

    /*  Exercise 2: Spacing With Padding and Margins, Backgrounds */
    background-color: #E8FBFB;
    padding: 5px;

    /* Exercise 3: Float, Alignment and Clear*/
    overflow: hidden;

    /* Exercise 4: Cosmetic Finishing Touches */
    border: 4px solid #C2E9E9;
}

.block > p > img {
    /* Exercise 3: Float, Alignment and Clear*/
    float: right;
}

.block > h2 > .date {
    /*  Exercise 1: Arrange Your Page into Sections */
    /*border: 5px solid purple;*/

    /* Exercise 4: Cosmetic Finishing Touches */
    border-bottom: 2px dashed blue;
}
